<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.dao.UserDao">
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称一致-->
	<resultMap id="BaseResultMap" type="com.hd.domain.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="gender" property="gender" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="VARCHAR" />
		<result column="position" property="position" jdbcType="VARCHAR" />
		<result column="date" property="date" jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- 查询单个用户信息 -->
	<select id="selectUserByName" resultMap="BaseResultMap">
		SELECT * FROM t_user WHERE name like concat(concat('%',#{name}),'%')
	</select>

	<!-- 查询所有用户信息 -->
	<select id="selectUserList" resultMap="BaseResultMap">
		SELECT * FROM t_user
	</select>

	<!-- 查询所有用户信息-分页 -->
	<select id="selectUserListByPage" resultMap="BaseResultMap">
		SELECT * FROM t_user LIMIT #{start,jdbcType=INTEGER},#{end,jdbcType=INTEGER}
	</select>

	<!-- 查询用户总数 -->
	<select id="selectCount" resultType="INTEGER">
		SELECT COUNT(*) FROM t_user
	</select>

	<!-- 查询搜索用户总数 -->
	<select id="selectSearchCount" resultType="INTEGER">
		SELECT COUNT(*) FROM t_user WHERE name = #{name}
	</select>

	<!-- 登录 -->
	<select id="login"  resultMap="BaseResultMap">
		SELECT * FROM t_user WHERE login_name = #{loginName} AND password = #{password}
	</select>
</mapper>